:root {
  --primary-color: #fff6f0;
  --branding-color: #fe8c68;
  --lines-color: #d75c00;
}

h1,
h2 {
  font-family: "Fredericka the Great", cursive;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 150px 50px 250px 50px;
}

.hero p {
  font-size: 36px;
}

.hero h1 {
  font-size: 100px;
}

.hero h2 {
  font-family: "Alata", sans-serif;
  color: #272142;
  font-size: 24px;
}

h2 {
  font-size: 64px;
}

p,
a {
  font-family: "Alata", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.navigation-link {
  color: var(--branding-color);
  padding: 15px 15px;
  border: 1px solid var(--lines-color);
  border-radius: 4px;
}

.links {
  color: var(--branding-color);
}

.navigation-link:hover,
.links:hover {
  color: var(--lines-color);
}

.homepage-container {
  margin-top: 100px;
}

.content-row {
  margin-bottom: 150px;
}

.colorings {
  margin-left: 50px;
}

.Player-Zero {
  max-width: 50%;
}

.drawings-description {
  margin-top: 200px;
  margin-left: 100px;
}

.colorings-description {
  margin-top: 100px;
}

.frontend-description {
  margin-left: 100px;
}

@media (min-width: 576px) and (max-width: 992px) {
  .hero {
    padding: 150px 50px 150px 50px;
  }
  .homepage-container {
    margin-top: 50px;
  }
  .drawings-description,
  .colorings-description,
  .frontend-description {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 80px 50px 100px 50px;
  }
  .hero p {
    font-size: 20px;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero h2 {
    font-size: 15px;
  }

  .homepage-container {
    margin-top: 30px;
  }

  .content-row {
    margin-bottom: 80px;
  }

  h2 {
    font-size: 40px;
  }
  .drawings-description,
  .colorings-description,
  .frontend-description {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }

  p,
  a {
    font-size: 14px;
  }
}
