:root {
  --primary-color: #fff6f0;
  --branding-color: #fe8c68;
  --lines-color: #d75c00;
}

h1,
h2,
h3 {
  font-family: "Fredericka the Great", cursive;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  margin-bottom: 0px;
}
.navbar li {
  list-style: none;
  margin-left: 40px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
}

.hero,
.content-hero {
  padding: 80px 50px;
}
.hero p {
  font-size: 36px;
}

.hero h1 {
  font-size: 100px;
}

.hero h2,
.content-hero h3 {
  font-family: "Alata", sans-serif;
  color: #272142;
  font-size: 24px;
}

.content-hero h2 {
  color: #272142;
  font-size: 44px;
}

h2,
.content-hero h1 {
  font-size: 64px;
}

p,
a {
  font-family: "Alata", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.navigation-link {
  color: var(--branding-color);
  padding: 15px 15px;
  border: 1px solid var(--lines-color);
  border-radius: 4px;
}

.links,
.navbar a {
  color: var(--branding-color);
}

nav li .active {
  color: var(--lines-color);
}

.navigation-link:hover,
.links:hover,
.navbar a:hover {
  color: var(--lines-color);
}

.homepage-container {
  margin-top: 100px;
}

.content-row {
  margin-bottom: 150px;
}

.colorings {
  margin-left: 50px;
  margin-top: 50px;
}

.Player-Zero {
  max-width: 50%;
}

.drawings-description {
  margin-top: 100px;
  margin-left: 100px;
}

.colorings-description {
  margin-top: 100px;
}

.frontend-description {
  margin-left: 100px;
}
.content-hero p {
  margin-right: 50px;
}
.ilaria-vilardi {
  max-width: 80%;
  margin-top: 80px;
  margin-left: 80px;
}

.footer-work-contact {
  padding: 70px 30px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.footer-work-contact h3 {
  font-family: "Fredericka the Great", cursive;
  font-size: 45px;
  margin-left: 48px;
  margin-bottom: 0px;
}

.footer-work-contact a {
  color: #ffffff;
  background-color: var(--lines-color);
  padding: 15px 25px;
  border-radius: 4px;
  margin-right: 48px;
}

.footer-email {
  font-size: 24px;
}

.social-links a {
  font-size: 20px;
  color: var(--branding-color);
  margin: 0 30px;
  padding: 10px 18px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: all 180ms ease-in-out;
}

.social-links a:hover {
  color: var(--primary-color);
  background-color: var(--branding-color);
}

@media (min-width: 576px) and (max-width: 992px) {
  .hero {
    padding: 150px 50px;
  }
  .homepage-container {
    margin-top: 50px;
  }
  .drawings-description,
  .colorings-description,
  .frontend-description {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }

  .content-hero {
    padding: 80px 15px 100px 15px;
    text-align: center;
  }

  .content-hero p {
    margin-right: 0px;
  }

  .ilaria-vilardi {
    margin-left: 0px;
  }

  .footer-work-contact a {
    margin-right: 0px;
    padding: 15px 15px;
  }

  .footer-work-contact h3 {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar ul {
    padding-left: 0;
  }

  .navbar li {
    margin: 0px 20px;
  }

  .hero {
    padding: 80px 50px;
  }

  .content-hero {
    padding: 80px 15px 100px 15px;
    text-align: center;
  }
  .hero p,
  .content-hero h3 {
    font-size: 20px;
  }

  .content-hero p {
    margin-right: 0px;
  }

  .hero h1,
  .content-hero h1 {
    font-size: 45px;
  }

  .ilaria-vilardi {
    margin-left: 0px;
  }

  .hero h2 {
    font-size: 15px;
  }

  .homepage-container {
    margin-top: 30px;
  }

  .content-row {
    margin-bottom: 80px;
  }

  h2 {
    font-size: 40px;
  }
  .drawings-description,
  .colorings-description,
  .frontend-description {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }

  p,
  a {
    font-size: 14px;
  }

  .content-hero h2 {
    font-size: 30px;
  }
  .content-hero img {
    max-width: 60%;
  }

  .footer-email {
    font-size: 20px;
  }

  .credits p,
  .credits a {
    font-size: 13px;
  }
}
