h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 70px;
}

p {
  font-family: "Alata", sans-serif;
  font-size: 30px;
}

.hero {
  background-color: #fff6f0;
  text-align: center;
  padding: 150px 50px 250px 50px;
}

.hero p {
  font-size: 36px;
}

.hero h1 {
  font-size: 100px;
}

h2 {
  font-family: "Alata", sans-serif;
  color: #272142;
  font-size: 24px;
}
